name: whats_new
description: Beautiful way to showcase new features of your app.
version: 0.0.1
author: Anders Cheow <anderscheow94@gmail.com>
homepage: https://github.com/anderscheow/whats_new

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter